# custome tunables

on init
    copy_per_line /dev/cpuctl/tasks /dev/cpuctl/system/tasks

on post-fs-data
    # Disable zram readahead
    write /proc/sys/vm/page-cluster 0
    # Override readahead to 2MiB during boot

on property:vendor.post_boot.parsed=1

# IRQ Tuning
# IRQ 70: msm_drm0
# IRQ 222: kgsl_3d0_irq
    write /proc/irq/70/smp_affinity_list 2
    write /proc/irq/222/smp_affinity_list 1

    # Set cpuset audio-app
    write /dev/cpuset/audio-app/cpus 1-2
